$background-color: #eeeeee;
$title: 18px;
$primary: #b42e46;
$positionList: (relative, absolute, fixed);
$displayList: (flex, block, inline-block, none);
$flexCommonValues: (
      start: flex-start,
      center: center,
      end: flex-end,
);
$justify-content-values: (
      start: flex-start,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
      end: flex-end,
);
$align-items-values: (
      start: flex-start,
      center: center,
      end: flex-end,
);
$overflowDirs: (overflow, overflow-x, overflow-y);
$spaceTypes_Dirs: (
      "p": padding,
      "m": margin,
      "ps": padding-left,
      "pe": padding-right,
      "pt": padding-top,
      "pb": padding-bottom,
      "ms": margin-left,
      "me": margin-right,
      "mt": margin-top,
      "mb": margin-bottom,
);
$positionTypes: (
      "top": top,
      "bottom": bottom,
      "left": left,
      "right": right,
      "start": left,
      "end": right,
);
$colors: (
      primary: $primary,
      white: #ffffff,
      muted: #6c757d,
      black: #000,
      dark: #333,
      bgPrimary: "#303c5a",
      red: red,
      immediateColor: #94765c,
);
$radiusList: (
      circle: 100%,
      pill: 50rem,
);
$fontSizeS: (
      6: 3.2vw,
      5: calc(3.2vw * 1.1),
      4: calc(3.2vw * 1.2),
      3: calc(3.2vw * 1.3),
      2: calc(3.2vw * 1.4),
      1: calc(3.2vw * 2.3),
);
$textAlignDirs: (left, center, right);
//导出js变量
:export {
      primary: $primary;
      bgPrimary: "#303c5a";
      muted: #6c757d;
}
